.DS_Store

**/.DS_Store

._*

**/._*

*.docx

**/.docx

**/a.out

**/Resources.txt

**/HelpfulLinks.txt

**/.zip

**/readme.txt

**/OutputOfPossibleErrors.txt

Homework3/multiplefilesexample/

Homework3/NoelleResources/

Homework4/NoelleResources/

Homework4/InputsThatCauseErrors.txt